<!-- Comment: This is our home or base route template. -->

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
  </head>

  <body>
    <h1>{{title}}</h1>
    <h2>{{text}}</h2>
    <h3>{{header_1}}</h3>
    <ul>
      <li>{{endpoint_1}}</li>
    </ul>

    <h3>{{header_2}}</h3>
    <ul>
      <li>{{endpoint_1}}</li>
      <li>{{endpoint_2}}</li>
      <li>{{endpoint_3}}</li>
      <li>{{endpoint_4}}</li>
    </ul>
  </body>
</html>
